header {
  background-color: #15191f;
  box-shadow: 1px 1px 4px #111;
  height: 48px;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  svg {
    &.available {
      color: lawngreen;
    }
    &.unavailable {
      color: red;
    }
  }
}