.mh-social-networks {
  color: transparent;
  transition: color 2s;
  a {
    font-size: 32px;
    color: inherit;
    &:hover {
      color: #aaa;
    }
  }
}
@media(max-width: 425px){
  .mh-social-networks {
    a {
      font-size: 28px;
    }
  }
}