.mh-skills-major {
  font-size: 46px;
  color: #ddd;
}
.mh-skills-minor {
  font-size: 32px;
  color: #ddd;
}
.mh-skills-misc {
  color: #ddd;
}
img.mh-flag{
  width: 64px;
}
.mh-skills-container{
  padding: 0 20%;
}
.mh-skill {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  img {
    width: 64px;
    height: 64px;
  }
}
.mh-languages {
  padding: 0 15%;
}