.color-blue, .color-blue:hover {
  color: #5DEEFF;
}
.color-green, .color-green:hover {
  color: #66E782;
}
.color-light-gray {
  color: #ddd;
}
.bkg-dark-1 {
  background-color: #1C2127;
}
.bkg-dark-2 {
  background-color: #232A34;
}
.blue-title-border {
  border-bottom: 2px solid #5DEEFF;
}
.green-title-border {
  border-bottom: 2px solid #66E782;
}