body {
  background-color: #1C2127;
  color: #fff;
}
section {
  padding: 70px 0;
}
h1, h2, h3 {
  font-family: "Zilla Slab";
  font-weight: 700;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

.mh-landing-subtitle {
  font-size: 24px;
}