html {
  scroll-behavior: smooth;
}
body {
  background-color: #1C2127;
  color: #fff;
}
section {
  padding: 70px 0;
  border-bottom: 1px solid #111;
}
h1, h2, h3 {
  font-family: "Zilla Slab";
  font-weight: 700;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
p{
  font-size: 18px;
  line-height: 1.5rem;
}
.ta-center {
  text-align: center;
}
.mh-landing-subtitle {
  font-size: 24px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background: #bbb;
}

::-webkit-scrollbar-track {
  background: #444;
}